.header{
    height: 15vh;
    border: 2px solid;
}
.wrapper{
    height: 83vh;
    border: 2px solid;
    display: flex;
    flex-direction: row;
}
.sidebar{
    height: 100%;
    width: 25%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
}
.content{
    height: 100%;
    width: 75%;
    border: 2px solid;
}
.btn{
    padding: 15px;
    margin: 10px;
}
.btn-header {
    padding: 15px;
    margin: 10px 10px 10px 750px
}